---
---

@import "{{ site.theme }}";

body {
	color: #fff6e4;
	font: 15px/1.5"OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1 {
	color: #ffd280;
	font-size: 35px;
}

h2 {
	margin: 45px 0 15px;
	color: #ffd280;
	font-size: 27px;
}

a {
	color: #ffea95;
}

section {
	max-width: 80%;
	margin: 20px auto;
}

.wrapper {
	max-width: 80%
}

ul {
	list-style-image: none;
    list-style-type: disc;
}